<h1>Graphs: Pie Chart</h1>
<div style="width:300px; height: 300px; margin: 0 auto; float: left">
<%= high_chart('graph_one', @highchart_one) %>
</div>
<div style="width:300px; height: 300px; margin: 0 auto; float: right;">
<%= high_chart('graph_two', @highchart_two) %>
</div>
