<h2>Graphs: Pie Chart</h2>

<%= render :partial => 'links_to_code_on_github' %>


<div style="width:300px; height: 300px; margin: 0 auto; float: left">
<%= high_chart('graph_one', @highchart_one) %>
</div>
<div style="width:300px; height: 300px; margin: 0 auto; float: right;">
<%= high_chart('graph_two', @highchart_two) %>
</div>
